<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>9ach.TN</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('assets/favicon.ico') }}" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{{ asset('assets/styles.css') }}" rel="stylesheet" />
</head>
<body>
<script src="assets/scripts.js"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">9ACH.TN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="{{ path('app_home-listerall') }}">All Products</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ path('lister-cat-id', {'id': 1}) }}">homme</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ path('lister-cat-id', {'id': 2}) }}">femme</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">
                            <i class="bi bi-box-arrow-right"></i> Logout
                        </a>
                    </li>
              <a href="{{ path('app_client_detail', {'id':app.user.id }) }}">
                  <li class="nav-item">
                        <span class="nav-link">
                            <i class="bi bi-person"></i> Welcome, {{ app.user.nom }}
                        </span>
                  </li>
              </a>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">
                            <i class="bi bi-box-arrow-in-right"></i> Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">
                            <i class="bi bi-person-plus"></i> Sign Up
                        </a>
                    </li>
                {% endif %}
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <a href="{{ path('cart-show') }}" style="text-decoration: none; color: inherit;">
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        {% if totalProducts is defined %}
                            {% if totalProducts > 0 %}
                                <span class="badge bg-dark text-white ms-1 rounded-pill">{{ totalProducts }}</span>
                            {% endif %}
                        {% else %}
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        {% endif %}
                    </a>
                </button>

            </form>
        </div>
    </div>
</nav>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->

</body>
</html>
