{% include 'home/navbar2.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="text-center mb-4">Client Details</h1>
                        <div class="mb-3">
                            <h4>Name:</h4>
                            <p class="lead">{{ client.nom }}</p>
                        </div>
                        <div class="mb-3">
                            <h4>Last Name:</h4>
                            <p class="lead">{{ client.prenom }}</p>
                        </div>
                        <div class="mb-3">
                            <h4>Phone:</h4>
                            <p class="lead">{{ client.tel }}</p>
                        </div>
                        <div class="mb-3">
                            <h4>Address:</h4>
                            <p class="lead">{{ client.adresse }}</p>
                        </div>
                        <div class="text-center">
                            <a href="{{ path('app_modifier-client', {'id': client.id}) }}" class="btn btn-primary mt-4">Modifier</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
